@import url(../../global.scss);

$azul: #303952;
$branco: #fff;
$cinza: #e6e6e6;
$cinza2: #7e7c7c;
$vermelho: #c70011;
$vermelho2: #ff4959;
$vermelho3: #842029;

.carousel-caption {
    position: absolute;
    right: 0% !important;
    width: 100% !important;
    bottom: 0 !important;
    left: 15% !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: #fff;
    text-align: center;
}

.carousel-item {
    height: 100vh;

    & .flex-carousel {
        display: flex;
        flex-direction: row;
        width: 100%;

        & .content-carousel-01 {
            background-color: #3aafd2;
            width: 60% !important;
            bottom: 0 !important;
            margin-left: -15% !important;
            padding-top: 17em !important;
            padding-bottom: 0 !important;
            color: #fff;
            text-align: center;

            .box ul li {
                position: relative;
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: 2.9em;
                margin-right: 0.9em;
                margin-right: 1.2em;
                list-style: none;
                opacity: 0;
                bottom: 0;
                left: 10vw;
                animation: animate 40s linear infinite;
                font-family: "Font Awesome 5 Free";
            }

            .box ul li::before {
                position: absolute;
                content: '\f185';
                display: block;
                width: 0;
                height: 0;
                top: 0.6em;
                left: -1em;
                font-size: 5rem;
                transform: rotate(-35deg);
                font-family: "Font Awesome 5 Free";
            }

            .box ul li::after {
                transform: rotate(35deg);
            }

            .box ul li:nth-child(2) {
                left: 6vw;
                animation-delay: 2s;
            }

            .box ul li:nth-child(3) {
                left: 22vw;
                animation-delay: 4s;
            }

            .box ul li:nth-child(4) {
                left: 56vw;
                animation-delay: 6s;
            }

            .box ul li:nth-child(5) {
                left: 96vw;
                animation-delay: 4s;
            }

            @keyframes animate {
                0% {
                    transform: scale(0) rotate(0);
                    opacity: 0.5;
                    bottom: 0;
                }

                100% {
                    transform: scale(5) rotate(360deg);
                    opacity: 0;
                    bottom: 100vh;
                }
            }
        }

        & .content-carousel-02 {
            background-color: #f5b1b0;
            width: 60% !important;
            bottom: 0 !important;
            margin-left: -15% !important;
            padding-top: 17em !important;
            padding-bottom: 0 !important;
            color: #fff;
            text-align: center;

            .box ul li {
                position: relative;
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: 2.9em;
                margin-right: 0.9em;
                margin-right: 1.2em;
                list-style: none;
                opacity: 0;
                bottom: 0;
                left: 10vw;
                animation: animate 40s linear infinite;
                font-family: "Font Awesome 5 Free";
            }

            .box ul li::before {
                position: absolute;
                content: '\f70c';
                display: block;
                width: 0;
                height: 0;
                top: 0.6em;
                left: -1em;
                font-size: 5rem;
                transform: rotate(-35deg);
                font-family: "Font Awesome 5 Free";
            }

            .box ul li::after {
                transform: rotate(35deg);
            }

            .box ul li:nth-child(2) {
                left: 6vw;
                animation-delay: 2s;
            }

            .box ul li:nth-child(3) {
                left: 22vw;
                animation-delay: 4s;
            }

            .box ul li:nth-child(4) {
                left: 56vw;
                animation-delay: 6s;
            }

            .box ul li:nth-child(5) {
                left: 96vw;
                animation-delay: 4s;
            }

            @keyframes animate {
                0% {
                    transform: scale(0) rotate(0);
                    opacity: 0.5;
                    bottom: 0;
                }

                100% {
                    transform: scale(5) rotate(360deg);
                    opacity: 0;
                    bottom: 100vh;
                }
            }
        }

        & .content-carousel-03 {
            background-color: #eba170;
            width: 60% !important;
            bottom: 0 !important;
            margin-left: -15% !important;
            padding-top: 17em !important;
            padding-bottom: 0 !important;
            color: #fff;
            text-align: center;

            .box ul li {
                position: relative;
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: 2.9em;
                margin-right: 0.9em;
                margin-right: 1.2em;
                list-style: none;
                opacity: 0;
                bottom: 0;
                left: 10vw;
                animation: animate 40s linear infinite;
                font-family: "Font Awesome 5 Free";
            }

            .box ul li::before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                height: 20px;
                width: 100%;
                background: url(../../images/shirt-solid.svg) bottom center;
                background-repeat: no-repeat;
                padding-right: calc(1.5em + 0.75rem);
                background-position: center right calc(0.375em + 0.1875rem);
                background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
                //   background-size: 150%;
            }

            .box ul li::after {
                transform: rotate(35deg);
            }

            .box ul li:nth-child(2) {
                left: 6vw;
                animation-delay: 2s;
            }

            .box ul li:nth-child(3) {
                left: 22vw;
                animation-delay: 4s;
            }

            .box ul li:nth-child(4) {
                left: 56vw;
                animation-delay: 6s;
            }

            .box ul li:nth-child(5) {
                left: 96vw;
                animation-delay: 4s;
            }

            @keyframes animate {
                0% {
                    transform: scale(0) rotate(0);
                    opacity: 0.5;
                    bottom: 0;
                }

                100% {
                    transform: scale(5) rotate(360deg);
                    opacity: 0;
                    bottom: 100vh;
                }
            }

        }
    }

    &.carousel-img-01 .image-carousel {
        background: url(../../images/01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        width: 100%;
        height: 100vh;
    }

    &.carousel-img-02 .image-carousel {
        background: url(../../images/02.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        width: 100%;
        height: 100vh;
    }

    &.carousel-img-03 .image-carousel {
        background: url(../../images/03.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        width: 100%;
        height: 100vh;
    }
}