$azul: #303952;
$branco: #fff;
$cinza: #e6e6e6;
$cinza2: #7e7c7c;
$vermelho: #c70011;
$vermelho2: #ff4959;
$vermelho3: #842029;

* {
    font-family: 'Outfit', sans-serif;
}

.font-light {
    font-weight: 300 !important;
    font-family: 'Outfit', sans-serif !important;
}

.font-bold {
    font-weight: 500 !important;
    font-family: 'Outfit', sans-serif !important;
}

.font-book {
    font-weight: 400 !important;
    font-family: 'Outfit', sans-serif !important;
}

.font-size-14 {
    font-size: 14px !important;
}

.font-size-16 {
    font-size: 16px !important;
}

.font-size-18 {
    font-size: 18px !important;
}

.font-size-32 {
    font-size: 32px !important;
}

.font-size-48 {
    font-size: 48px !important;
}